In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
train_df=pd.read_csv("/content/drive/MyDrive/kaggle/train.csv")
df = pd.read_csv("/content/drive/MyDrive/kaggle/train.csv")
df2 = pd.read_csv("/content/drive/MyDrive/kaggle/test.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
def familygroupcreation(FG): # Creating a user-defined function for creating Family buckets
    FamilyGroup = [] # Array declartion
    if FG == 1 : 
        FamilyGroup = "0" 
    if FG > 1 and FG < 5 : 
        FamilyGroup = "1"       
    if FG >= 5 :
        FamilyGroup = "2"

    return FamilyGroup

df['FamilyCount'] = 1 + df['SibSp'] + df['Parch'] 
Family_Group = [familygroupcreation(FG) for FG in df.FamilyCount] # Function call
df.insert(3, "FamilyGroup", Family_Group) 
df2['FamilyCount'] = 1 + df2['SibSp'] + df2['Parch'] 
Family_Group = [familygroupcreation(FG) for FG in df2.FamilyCount] # Function call
df2.insert(3, "FamilyGroup", Family_Group)

In [ ]:
print(df.isnull().sum())
print(df2.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
FamilyGroup      0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
FamilyCount      0
dtype: int64
PassengerId      0
Pclass           0
Name             0
FamilyGroup      0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
FamilyCount      0
dtype: int64

In [ ]:
import numpy as np

df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
pid = df2['PassengerId'].tolist()
df2.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Embarked"] = df["Embarked"].fillna('S')
df2["Age"] = df2["Age"].fillna(df2["Age"].mean())
df2["Fare"] = df2["Fare"].fillna(df2["Fare"].mean())
Q1 = df.Fare.quantile(0.25)
Q2 = df.Fare.quantile(0.50)
Q3 = df.Fare.quantile(0.75)

print("\n'Very Low Fare' Range:", 0, "-", Q1.round(2))
print("\n'Low Fare' Range:", Q1.round(2), "-", Q2.round(2))
print("\n'Medium Fare' Range:", Q2.round(2), "-", Q3.round(2))
print("\n'High Fare' Range:", Q3, "-", round(max(df.Fare), 2), '\n\n')

#Creating fare groups
df.insert(10, 'FareGroup', np.nan)

df.loc[(df.Fare <= Q1), 'FareGroup'] = 'VeryLowFare'
df.loc[(df.Fare > Q1) & (df.Fare <= Q2), 'FareGroup'] = 'LowFare'
df.loc[(df.Fare > Q2) & (df.Fare <= Q3), 'FareGroup'] = 'MediumFare'
df.loc[(df.Fare > Q3), 'FareGroup'] = 'HighFare'
print(df.isnull().sum())
print(df2.isnull().sum())

'Very Low Fare' Range: 0 - 7.91

'Low Fare' Range: 7.91 - 14.45

'Medium Fare' Range: 14.45 - 31.0

'High Fare' Range: 31.0 - 512.33


Survived       0
Pclass         0
FamilyGroup    0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
FamilyCount    0
FareGroup      0
dtype: int64
Pclass         0
FamilyGroup    0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
FamilyCount    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

col1 = ['Sex','Embarked', 'FareGroup']

for j in col1:
  l = LabelEncoder()
  df[j] = l.fit_transform(df[j])
  df2[j] = l.fit_transform(df2[j])

df.head()

,Survived,Pclass,FamilyGroup,Sex,Age,SibSp,Parch,Fare,Embarked,FamilyCount,FareGroup
0,0,3,1,1,22.0,1,0,7.2500,2,2,VeryLowFare
1,1,1,1,0,38.0,1,0,71.2833,0,2,HighFare
2,1,3,0,0,26.0,0,0,7.9250,2,1,LowFare
3,1,1,1,0,35.0,1,0,53.1000,2,2,HighFare
4,0,3,0,1,35.0,0,0,8.0500,2,1,LowFare

In [ ]:

age = []
for i in df['Age']:
  if i <= 18:
    age.append(0)
  elif i > 18 and i <= 45:
    age.append(1)
  else:
    age.append(2)

age2 = []
for i in df2['Age']:
  if i <= 18:
    age2.append(0)
  elif i > 18 and i <= 22:
    age2.append(1)
  else:
    age2.append(2)

df['Age'], df2['Age'] = age, age2

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from xgboost import XGBRFClassifier

X_tr, X_t, y_tr, y_t = train_test_split(df.drop(['Survived'], axis=1).values, df['Survived'].values, test_size=0.2, random_state=42)
# X_tr, y_tr = df.drop(['Survived'], axis=1).values, df['Survived'].values
# X_t = df2.values 
model = LGBMClassifier()
model.fit(X_tr,y_tr)
y_p = model.predict(X_t)
print("LGBM : ", accuracy_score(y_t, y_p))

model=AdaBoostClassifier()
model.fit(X_tr,y_tr)
y_p = model.predict(X_t)
print("AdaBoostClassifier : ", accuracy_score(y_t, y_p))

model=RandomForestClassifier()
model.fit(X_tr,y_tr)
y_p = model.predict(X_t)
print("RandomForestClassifier : ", accuracy_score(y_t, y_p))

model=DecisionTreeClassifier()
model.fit(X_tr,y_tr)
y_p = model.predict(X_t)
print("DecisionTreeClassifier : ", accuracy_score(y_t, y_p))

model_xgbrf = XGBRFClassifier(n_estimators=300, subsample=0.9, colsample_bynode=0.2)
model_xgbrf.fit(X_tr,y_tr)
y_xgbrf_pred = model_xgbrf.predict(X_t)
print("XGBRF : ", accuracy_score(y_t, y_p))

model_xgb = XGBClassifier()
model_xgb.fit(X_tr,y_tr)
print("XGB : ", accuracy_score(y_t, model_xgb.predict(X_t)))

ValueError: ignored

In [ ]:

y_p = model.predict(X_t)

sol = pd.DataFrame(list(zip(pid, y_p)), columns =['PassengerId', 'Survived'])
sol.head()
sol.to_csv('submission.csv', index=False)